<% include base.ejs %>

<nav>
  <h3><%= name %></h3>
  <h4>Message</h4>
  <h4>Follow</h4>
</nav>

<div>
  <h3>profile</h3>
  <!--
  <img src="static/img-<%=name %>" alt="<%= name %>">
</div>
<div class="image">
  <% images.forEach(function(img) { %>
  <img src="static/img-<%= img %>" alt="<%= img %>">
  <% }); %>
 -->
</div>

<% include base2.ejs %>
